.main{
    height: 90vh;
    width: 94vw;
}

.title{
    background-color: #D9D9D9;
    width: 100%;    
    height: 10vh;
    display: flex;
    align-items: center;
    font-weight: normal;
}

.main .title h2{
    padding-left: 30px;
    color: #000000;
    font-size: 30px;
}

.content{
    width: 100%;
    padding: 0px 50px;
    height: 80vh;
}
.top{
    height: 20%;
    width: 100%;
    border-bottom: 3px #D9D9D9 solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.large-box{
    border: 3px #F78914 solid;
    background-color: #F78914;
    display: flex;
    height: 60%;
    align-self: center;
    border-radius: 20px;
}
.large-box .number{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 10px;
}
.large-box .details{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #F78914;
    color: white;
    display: flex;
    align-items: center;
    font-size: 13px;
    padding: 20px;
    overflow-wrap: break-word;
}
.large-box-green{
    border: 3px #168021 solid;
    background-color: #168021;
    display: flex;
    height: 60%;
    align-self: center;
    border-radius: 20px;
}
.large-box-green .number{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 10px;
}
.large-box-green .details{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #168021;
    color: white;
    display: flex;
    align-items: center;
    font-size: 13px;
    padding: 20px;
    overflow-wrap: break-word;
}
.main-content{
    height: 80%;
    width: 100%;
    display: flex;
    
}
.main-content .left{
    width: 50%;
    height: 100%;
    padding: 20px;
}
.main-content .right{
    width: 50%;
    height: 100%;
    padding: 20px;
}
.appointment-box{
    height: 100%;
    width: 100%;
    background-color: #E9E9E9;
    border-radius: 30px;
}
.app-box-top{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 20%;
    width: 100%;
    background-color: #168021;
    display: flex;
    border: 2.5px solid #168021;
}   
.app-box-top-left{
    width: 70%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
}
.app-box-top-right{
    width: 30%;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-top-right-radius: 30px;
}
.app-box-top-right h2{
    font-size: 40px;
}
.app-box-content{
    height: 80%;
    /* border: 2.5px solid black; */
    padding: 25px;
}
.app-box-content ul{
    list-style-type: none;
}
.app-box-content li{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    border-bottom: 3px solid gainsboro;
}
.app-box-content li p,a{
    text-align: center;
}
.app-box-content li a{
    color: #F08A3F;
}
/*Right Box*/
.second-box-top{
    color: #168021;
}
.appointment-list{
    width: 100%;
    padding: 20px 30px;
    height: 100%;
}
/*Appointment Card*/
.appointment-card{
    height: 115px;
    width: 500px;
    background-color: #EAFAE5;
    border-radius: 30px;
    box-shadow: 0 11px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    border: 3px solid #168021;
    display: flex;
    overflow: hidden;
    cursor: pointer;
}

.box{
    height: 115px;
    width: 60px;
    background-color: #168021;
}
.Text{
    padding-left: 15px;
    margin-top: 15px;
}
.appointment-card-title, .p{
    font-weight: bold;
    font-size: 17px;
}
.appointment-card-title, .mid, .bottom, p, .extra{
    margin: 0px;
    padding: 0px;
}
.mid, .bottom, .extra{
    font-size: 15px;
}

.mid, .bottom, .extra{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2vw;
}
.urgent-appointment {
    color: red; 
    font-weight: bold;
}
.card-container{
    overflow-y: auto;
    height: 100%;
}