<div class="main">
    <div class="title">
        <h2>Analytics</h2>
    </div>
    <div class="content">
        <div class="top">
            <div class="large-box">
                <div class="number">
                    <h1>2</h1> 
                </div>
                <div class="details">
                    <h2>PENDING</h2>
                </div>
            </div>
            <div class="large-box">
                <div class="number">
                    <h1>3</h1> 
                </div>
                <div class="details">
                    <h2>CONFIRMED</h2>
                </div>
            </div>
            <div class="large-box">
                <div class="number">
                    <h1>2</h1> 
                </div>
                <div class="details">
                    <h2>TOTAL<br>APPOINMENTS</h2>
                </div>
            </div>
            <div class="large-box-green">
                <div class="number">
                    <h1>4.5</h1> 
                </div>
                <div class="details">
                    <h2>OVERALL RATING</h2>
                </div>
            </div>
            <div class="large-box-green">
                <div class="number">
                    <h1>3</h1> 
                </div>
                <div class="details">
                    <h2>WEEKLY RATING</h2>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="left">
                <div class="appointment-box">
                    <div class="app-box-top">
                        <div class="app-box-top-left">
                            <h1>Appointments</h1>
                            <label>Scheduled for the Week</label>
                        </div>
                        <div class="app-box-top-right">
                            <h2>30</h2>
                            <label>Total</label>
                        </div>
                    </div>
                    <div class="app-box-content">
                        <ul>
                            <li>
                                <h3>Monday</h3> 
                                <p>5 Total Appoinments</p>
                                <a>See More</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="right">

            </div>
        </div>
    </div>
</div>