<div class="main" *ngIf="isDataLoaded === true">
    <div class="title">
        <h2>View Appointments</h2>
    </div>
    <div class="content">
        <div class="group">
            <div class="left">
                <div class="top">
                    <h2>Faculty Member Information</h2>
                    <div class="information-card">
                        <div class="information-card-left">
                            <img src="assets/profile.jpeg">
                        </div>
                        <div class="information-card-right">
                            <div class="information">
                                <h3>Full Name:</h3>
                                <p>{{teacherName ? teacherName : 'N/A'}}</p>
                            </div>
                            <div class="information">
                                <h3>Department:</h3>
                                <p>{{teacherDepartment ? teacherDepartment : 'N/A'}}</p>
                            </div>
                            <div class="information">
                                <h3>Position:</h3>
                                <p>{{teacherPosition ? teacherPosition : 'N/A' }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <div class="tab">
                        <h3>Queue</h3>
                        <div class="tab-box">
                            <p>{{queueLength}} {{ queueLength === 1 || queueLength === 0 ? 'Student' : 'Students' }}</p>
                        </div>
                    </div>
                    <div class="tab">
                        <h3>Appointments</h3>
                        <div class="tab-box">
                            <p>{{ appointmentLength }} {{ appointmentLength === 1 || appointmentLength === 0 ? 'Appointment' : 'Appointments' }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mode" *ngIf="inQueue == false">
                <h2>Appointment Options:</h2>
                <div class="buttons">
                    <div>
                        <h3>Appointment Mode:</h3>
                        <div class="radio">
                            <input class="radio__input" type="radio" value="Online" name="mode" id="online" [(ngModel)]="selectedMode">
                            <label class="radio__label" for="online">Online</label>
                            <input class="radio__input" type="radio" value="Face to Face" name="mode" id="ftf" [(ngModel)]="selectedMode">
                            <label class="radio__label" for="ftf">Face to Face</label>
                        </div>
                    </div>
                    <div>
                        <h3>Appointment Urgency:</h3>
                        <div class="radio">
                            <input class="radio__input" type="radio" value="Urgent" name="urgent" id="urgent" [(ngModel)]="selectedUrgency">
                            <label class="radio__label" for="urgent" matTooltip="Please make sure that your appointment is really urgent.">Urgent</label>
                            <input class="radio__input" type="radio" value="Not Urgent" name="urgent" id="not_urgent" [(ngModel)]="selectedUrgency">
                            <label class="radio__label" for="not_urgent">Not Urgent</label>
                        </div>
                    </div>
                    <div>
                        <h3>Preferred Day:</h3>
                        <div class="radio">
                            <input class="radio__input" type="radio" value="Monday" name="day" id="Monday" [(ngModel)]="selectedDay">
                            <label class="radio__label" for="Monday">M</label>
                            <input class="radio__input" type="radio" value="Tuesday" name="day" id="Tuesday" [(ngModel)]="selectedDay">
                            <label class="radio__label" for="Tuesday">T</label>
                            <input class="radio__input" type="radio" value="Wednesday" name="day" id="Wednesday" [(ngModel)]="selectedDay">
                            <label class="radio__label" for="Wednesday">W</label>
                            <input class="radio__input" type="radio" value="Thursday" name="day" id="Thursday" [(ngModel)]="selectedDay">
                            <label class="radio__label" for="Thursday">TH</label>
                            <input class="radio__input" type="radio" value="Friday" name="day" id="Friday" [(ngModel)]="selectedDay">
                            <label class="radio__label" for="Friday">F</label>
                            <input class="radio__input" type="radio" value="Saturday" name="day" id="Saturday" [(ngModel)]="selectedDay">
                            <label class="radio__label" for="Saturday">S</label>
                        </div>
                    </div>
                    <div>
                        <h3>Purpose/Reason:</h3>
                        <textarea class="reason" [(ngModel)]="reason"></textarea>
                    </div>
                    <div>
                        <h3>Preferred Time:</h3>
                        <div class="radio">
                            <input type="time" class="time" [(ngModel)]="selectedTime">
                        </div>
                    </div>
                    <div class="button-box">
                        <div class="confirmation" (click)="addQueue()">
                            <p>QUEUE AN APPOINTMENT</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mode" *ngIf="inQueue === true">
                <div class="appointment-details">
                    <div class="queue">
                        <h2><i class='bx bx-group' style="color: #F78914;"></i> Place in Queue: {{queueIndex}}</h2>
                    </div>  
                    <div class="appointment-information">
                        <div>
                            <h4>Preferred Day: </h4>
                            <p *ngIf="edit == false">{{studentQueue?.day}}</p>
                            <select [(ngModel)]="preferredDay" *ngIf="edit == true">
                                <option *ngFor="let day of daysOfWeek" [value]="day">{{day}}</option>
                            </select>
                        </div>
                        <div>
                            <h4>Preferred Time:</h4>
                            <p *ngIf="edit == false">{{getFormattedTime(studentQueue?.time)}}</p>
                            <input type="time" *ngIf="edit == true" [(ngModel)]="preferredTime">
                        </div>
                        <div>
                            <h4>Preferred Mode:</h4>
                            <p *ngIf="edit == false">{{studentQueue?.mode}}</p>
                            <select [(ngModel)]="preferredMode" *ngIf="edit == true">
                                <option [value]="'Face to Face'">Face to Face</option>
                                <option [value]="'Online'">Online</option>                              
                            </select>
                        </div>
                        <div>
                            <h4>Urgency:</h4>
                            <p *ngIf="edit == false">{{studentQueue?.urgency}}</p>
                            <select [(ngModel)]="urgency" *ngIf="edit == true">
                                <option [value]="'Urgent'">Urgent</option>
                                <option [value]="'Not Urgent'">Not Urgent</option>                              
                            </select>
                        </div>
                    </div>
                </div>
                <div class="update-button">
                    <button *ngIf="edit == false" (click)="deleteQueue()">Cancel Queue</button>
                    <button *ngIf="edit == false" (click)="toggleEdit()">Edit Request</button>
                    <button *ngIf="edit == true" (click)="toggleEdit()">Cancel Edit</button>
                    <button *ngIf="edit == true" (click)="updateQueue()">Update Request</button>
                </div>
            </div>
        </div>
    </div>
</div>