.main{
    height: 90vh;
    width: 94vw;
}

.title{
    background-color: #D9D9D9;
    width: 100%;    
    height: 10vh;
    display: flex;
    align-items: center;
    font-weight: normal;
}

.title h2{
    padding-left: 30px;
    color: #000000;
    font-size: 30px;
    margin: 0;
}
.left{
    width: 100%;
}
.top{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.information-card{
    display: flex;
    width: 90%;
    padding: 20px;
    background-color: #FFEFD1;
    border-top: 9px solid #F08000;
    border-bottom: 9px solid #F08000;
    border-left: 9px solid #168021;
    border-right: 9px solid #168021;
    box-shadow: 10px 10px 19px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
} 
.information{
    margin-left: 35px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 5px;
}
.information p{
   background-color: #F6F6F6;
   height: 35px;
   width: 350%;
   border: 2px solid black;
   margin-bottom: 10px;
   padding: 5%;
   padding-left: 10%;
}

.content{ 
    padding: 30px 50px;
    width: 100%;
}

.group{
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    width: 100%;
}

.mode{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}

.buttons{
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 20px;
}
.appointment-details{
    border: 3px solid gray;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    width: 100%;

}
.information-card img{
    height: 30vh;
    border-radius: 180px;
}
.bottom{
    width: 90%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.tab{
    width: 100%;
}

.bottom .tab{
    width: 100%;
}

.bottom .tab .tab-box{
    background-color: #EAFAE5;
    width: 90%;
    height: 55px;
    border: 2px solid #168021;
    border-radius: 20px;
}


.button-box{
    display: flex;
    justify-content: center;
    align-content: center;
}
.button-box p{
    margin: 0%;
    margin-top: 0% !important;
}
.confirmation{
    background-color: gray;
    height: 45px;
    width: 30vh;
    text-align: center;
    color: white;
    right: 3%;
    border-radius: 20px;
    box-shadow: 7px 9px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: auto;
    float: right;
}
.confirmation:hover{
    background-color: #168021;
}
.confirmation p{
    margin-top: 7px;    
}
.icons{
    display: flex;
    align-items: center; 
    justify-content: center;
    font-size: 40px;
}

/*Radio*/
.radio{
    width: 100%;
    display: inline-flex;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
}

.radio__input{
    display: none;
}

.radio__label{
    width: 100%;
    padding: 8px 14px;
    font-size: 18px;
    color:gray;
    background-color: #FFEFD1;
    cursor: pointer;
    transition: background 0.1s;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.radio__label:not(:last-of-type){
    border-right: 1px solid #F78914;
}

.radio__input:checked + .radio__label{
    background: #F78914;
    color: white;
}
@media screen and (max-width: 830px) {
    .title {
        height: 8vh;
    }

    .title h2 {
        font-size: 24px;
    }
}
@media (max-width: 430px) {
    .title {
        height: 4vh;
    }

    .title h2 {
        font-size: 18px;
    }
}

@media (max-width: 900px) {
    .title {
        height: 5vh;
    }

    .content {
        flex-direction: column;
    }

    .title h2 {
        font-size: 15px;
    }

    .group {
        display: flex;
        flex-direction: column;
    }

    .mode {
        display: flex;
        flex-direction: row;
    }


    .text h2 {
        font-size: 20px;
    }

    .text p {
        font-size: 15px;
    }

    .schedules li {
        height: 20px;
        width: 50px;
        font-size: 10px;
    }

    .buttons {
        flex-direction: row;
    }

    .button-box p {
        font-size: 11px;
    }

    .confirmation {
        height: 25px;
        width: 12vh;
        font-size: 12px;
    }

    .confirmation p {
        margin-top: 3px;
    }

    .radio__label {
        font-size: 14px;
    }
    .border {
        height: 150px;
    }
}
@media  (max-width: 900px) {
    .buttons {
      padding: 0px; 
      width: 80%; 
    }
    .mode h2{
        display:none;
    }
}
@media  (max-width: 700px) {
    .buttons {
      font-size: 12px; 
      flex-direction: column;
    }
    .border {
        height: 50px;
    }
    .top .text{
        font-size: 1px;
    }
}