<div class="main">
    <div class="title">
        <h2>Create Appointment</h2>
    </div>
    <div class="content">
        <div class="appointment-information">
            <div class="appointment-details">
                <h2>Request Details:</h2>
                <div class="details-box">
                    <div class="name">
                        <h3>Name</h3>
                        <h3>Urgency</h3>
                    </div>
                    <h3>Mode</h3>
                    <h3>Preferred Day</h3>
                    <h3>Preferred Time</h3>
                </div>
                <div class="schedule">
                    <h2>Schedule your Time:</h2>
                    <div class="day">
                        <h4>Choose Day:</h4>
                        <input type="date">
                    </div>
                    <div class="time">
                        <h4>Add a Time for Appointment:</h4>
                        <input type="time">
                    </div>
                    <div>
                        <button class="schedule_button">Create Appointment</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="appointment-view">
            <div class="date">
                <h3>Date</h3>
                <p>Thursday, May 30, 2024</p>
            </div>
            <div class="appointment-box">
                <h2>Your Appointments</h2>
                <div class="time-box">
                    <ul>
                        <li>4pm</li>
                        <li>4pm</li>
                        <li>4pm</li>
                        <li>4pm</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>