.main{
    height: 90vh;
    width: 94vw;
}

.title{
    background-color: #D9D9D9;
    width: 100%;    
    height: 10vh;
    display: flex;
    align-items: center;
    font-weight: normal;
}

.main .title h2{
    padding-left: 30px;
    color: #000000;
    font-size: 30px;
}

.content{
    width: 100%;
    padding: 30px 50px;
    height: 80vh;
    display: grid;
    grid-template-columns: 3.5fr 6.5fr;
    column-gap: 5vw;
}

.appointment-details{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.details-box{
    border: 2.5px solid #F78914;
    border-radius: 10px;
    padding: 20px;
}

.information{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.details-box h3{
    font-size: 15px;
    font-weight: 500;
}

.text{
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 10px;
}

.schedule{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.select-date{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.mode select{
    width: 90%;
    border: #168021 solid 1.5px;
    padding: 15px;
    font-size: 17px;
    background-color: #f5f5f5;
    border-radius: 20px;
    width: 90%;
}

.day{
    display: flex;
    flex-direction: column;
}

.day input{
    border: #168021 solid 1.5px;
    padding: 15px;
    font-size: 17px;
    background-color: #f5f5f5;
    border-radius: 20px;
    width: 80%;
}

.time{
    display: flex;
    flex-direction: column;
}

.time input{
    border: #168021 solid 1.5px;
    padding: 15px;
    font-size: 17px;
    background-color: #f5f5f5;
    border-radius: 20px;
    width: 80%;
}

.schedule_button{
    border-radius: 10px;
    padding: 10px 30px;
    background-color: #EAFAE5;
    font-size: 18px;
    cursor: pointer;
    color: rgb(132, 132, 132);
}

.schedule_button:hover{
    background-color: #168021;
    color: white;
}

.appointment-view{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.date{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: #F78914 solid 3px;
    border-radius: 15px;
    width: 30%;
}

.date h3{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: #F08000;
    color: white;
    height: 100%;
    padding: 10px;
    font-size: 20px;
}

.date p{
    padding: 10px;
    height: 100%;
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    font-size: 20px;
    text-align: center;
}

.time-box{
    border-top: 2px solid #F78914;
    padding: 20px;
    width: 100%;
    overflow-y: auto;
    height: 60vh;
}

.appointment-card{
    margin: auto;
    margin-bottom: 20px;
    border-radius: 30px;
    width: 80%;
    border: 2px black solid;
}
.appointment-card .top{
    background-color: #168021;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

.appointment-card .bottom{
    display: flex;
    padding: 15px;
    justify-content: space-evenly;
}

.empty{
    display: flex;
    justify-content: center;
    margin-top: 20vh;
    font-size: 40px;
    color: rgb(177, 177, 177);
}