<div class="main">
    <div class="title">
        <h2>Student Profile</h2>
    </div>
    <div class="profile">
        <div class="section">
            <div class="top">
                <div class="profile-container">
                    <img class="profile-image" src="assets/profile.jpeg">
                </div>
                <div class="name-container">
                    <h3>Paul Vincent F. Corsina</h3>
                    <h4>STUDENT</h4>
                </div>
            </div>
        </div>
    </div>
</div>
