<div class="main">
    <div class="title">
        <h2>Student Profile</h2>
    </div>
    <div class="profile">
        <div class="section">
            <div class="top">
                <div class="profile-container">
                    <img class="profile-image" src="assets/profile.jpeg">
                </div>
                <div class="name-container">
                    <h3>{{user[0].FirstName}} {{user[0].LastName}}</h3>
                    <h4>STUDENT</h4>
                    <button style="font-size: 1.5vw; width: 0;">Edit</button>
                </div>
            </div>
            <div class="domain">
                <table>
                    <tr>
                        <th>Email Address (DOMAIN)</th>
                        <td>{{user[0].Email ? user[0].Email : 'No Email'}}</td>
                    </tr>
                    <tr>
                        <th>Student ID</th>
                        <td>202677777</td>
                    </tr>
                    <tr>
                        <th>Course/Block</th>
                        <td>{{ user[0].Course ?? 'No Course' }} - {{ user[0].year ?? 'No Year' }} | {{ user[0].block ?? 'No Block' }}</td>
                        <th><button>Edit</button></th>
                    </tr>
                    <tr>
                        <th>Password</th>
                        <td>*****************</td>
                        <th><button>Edit</button></th>
                    </tr>
                    <hr>
                    <tr>
                        <th>Alternate Email (PERSONAL)</th>
                        <td>{{ user[0].AlternateEmail ? user[0].AlternateEmail : 'No Alternate Email Set'}}</td>
                        <th><button>Edit</button></th>
                    </tr>
                    <tr>
                        <th>Contact Number</th>
                        <td>{{ user[0].ContactNumber ? user[0].ContactNumber : 'No Contact Number Set'}}</td>
                        <th><button>Edit</button></th>
                    </tr>
                    <tr>
                        <th>Birthday</th>
                        <td>{{user[0].bday}}</td>
                        <th><button>Edit</button></th>
                    </tr>
                    <tr>
                        <th>Sex</th>
                        <td>{{user[0].gender}}</td>
                        <th><button>Edit</button></th>
                    </tr>
                </table>   
            </div>  
        </div>
    </div>
</div>