  <app-navbar></app-navbar>
  
  <div class="content">
        <!-- <h1>Welcome to AppointMe!</h1> -->
        <div class="side-content">
            <img src="assets/page.png" alt="Your Image" class="side-image">
            <div class="text-content">
                <div class="title">
                    <h1><span style="color: #228B22;">Appoint</span><span style="color: #F78914;">Me</span></h1>
                    <br>
                </div>
                <div>
                    <h2>SEIZE CONTROL OF YOUR TIME</h2>
                    <p>And make appointments easily</p>
                </div>
                <div>
                    <button class="sign-up-button" (click)="openRegisterDialog()">Sign Up to manage your Appointments</button>
                </div>
            </div>
        </div>
  </div>
  