<div class="main">
  <div class="title">
    <h2>Appointment Request Details</h2>
  </div>
  <div class="content">
    <div class="top">
      <div class="textName">
        <p>Appointment</p>
        <h1 *ngIf="usertype === 'teacher'">Meeting with {{appointments[0]?.UserName}} {{appointments[0]?.UserLastName}}</h1>
        <h1 *ngIf="usertype === 'user'">Meeting with {{appointments[0]?.ConsultantFirstName}} {{appointments[0].ConsultantLastName}}</h1>
      </div>
    </div>
    <div class="body">
      <div class="group"> 
        <h3>Request Information</h3>
        <div class="date">
          <div class="box">
            <h4>Student</h4>
          </div>
          <div class="textDate">
            <p>{{this.appointments[0]?.UserName}} {{this.appointments[0].UserLastName}}</p>
          </div>
        </div>
        
        <div class="date">
          <div class="box">
            <h4>Date</h4>
          </div>
          <div class="textDate">
            <p>{{this.appointments[0]?.AppointmentDate}}</p>
          </div>
        </div>
  
        <div class="date">
          <div class="box">
            <h4>Time</h4>
          </div>
          <div class="textDate">
            <p>{{getFormattedTime(this.appointments[0].AppointmentDate)}}</p>
          </div>
        </div>

        <div class="date">
          <div class="box">
            <h4>Mode</h4>
          </div>
          <div class="textDate">
            <p>{{this.appointments[0]?.mode}}</p>
          </div>
        </div>

      </div>
      <div class="textarea-container">
        <div class="textarea">
          <div class="purpose-text">
            <p>Teacher's Message:</p>
          </div>
          <textarea placeholder="No Appointment Purpose Stated" readonly>{{this.appointments[0].AppointmentInfo}}</textarea>
        </div>
        <div class="buttons">
          <div class="close">
            <p (click)="closeWindow()">CLOSE</p>
          </div>
          <div (click)="openConfirmationReject()" *ngIf="usertype == 'teacher'" class="reject">
            <p>CANCEL APPOINTMENT</p>
          </div>
          <div (click)="openConfirmationComplete()" *ngIf="usertype == 'teacher'" class="confirmation">
            <p>COMPLETE APPOINTMENT</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
