<header>
    <div class="title" (click)="redirectToHomePage()">
        <img src="assets/appointmelogo.png">
        <h1><span style="color: #228B22;">Appoint</span><span style="color: #F78914;">Me</span></h1>
    </div>
    <div class="navbar">
        <div class="profile">
            <i class='bx bx-user-circle' ></i>
            <label>Admin Panel</label>
        </div>
    </div>
</header>
<div class="body">
    <div class="sidebar">
        <ul>
            <a routerLink="./user-management" routerLinkActive="active-link"><li><i class='bx bx-list-ul'></i></li></a>
            <!-- <a routerLink="./profile" routerLinkActive="active-link"><li><i class='bx bx-user'></i></li></a> -->
        </ul>
        <ul>
            <li class="settings">
                <i class='bx bx-cog' ></i>
                <app-setting></app-setting>
            </li>
        </ul>
    </div>
    <div class="main">
        <router-outlet></router-outlet>
    </div>
</div>
