header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Align items vertically */
    background-color: white;
    border-bottom: #D0D3D4 3px solid;
    height: 10vh;
    padding-left: 8px;
    padding-right: 8px;
}

header .title {
    font-size: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

header .title h1 {
    padding: 0;
    margin: 0;
    font-weight: bold;
}

header .title img {
    height: 40px;
}

header .navbar {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 100%;
}

header .navbar .notifications,
header .navbar .profile {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 3px;
}

header .navbar .notifications:hover,
header .navbar .profile:hover {
    background-color: #D9D9D9;
    cursor: pointer;
}

header .navbar .notifi-box {
    width: 400px;
    height: 0px;
    opacity: 0;
    position: absolute;
    margin-right: 10%;
    top: 63px;
    right: 35px;
    transition: 1s opacity, 250ms height;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 10px;
}

.notification-card{
    display: flex;
    background-color: rgb(240, 240, 240);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.notification-card:hover{
    background-color: gainsboro;
}

.notification-card .logo{
    display: flex;
    align-items: center;
}

.notification-card .logo i{
    font-size: 40px;
    color: #519E50;
}

.notification-card .logo-rejected{
    display: flex;
    align-items: center;
}

.notification-card .logo-rejected i{
    font-size: 40px;
    color: rgb(160, 74, 74);
}

.notification-card .details{
    margin-left: 10px;
}

.notification-card .details p{
    font-size: 14px;
}

.notification-card .new{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.notification-card .new i{
    font-size: 15px;
    color: #168021;
}

header i {
    font-size: 25px;
    margin-right: 6px;
}

.body {
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 90vh;
    border-right: #D0D3D4 3px solid;
    width: 6vw;
    justify-content: space-between;
}

.sidebar ul {
    width: 100%;
    padding: 0;
}

.sidebar li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    height: 10vh;
}

.sidebar li:hover {
    background-color: #D9D9D9;
    cursor: pointer;
}

.active-link {
    background-color: #D9D9D9;
    cursor: pointer;
}

.active-link li {
    background-color: #D9D9D9;
    cursor: pointer;
}

.sidebar a {
    text-decoration: none;
    color: black;
}

.sidebar i {
    font-size: 40px;
    margin: auto;
}

.sidebar .settings {
    position: relative;
}

app-setting {
    position: absolute;
    display: none;
    left: 100%;
    bottom: 50%;
    transition: display 0.3s ease-in-out;
    z-index: 1;
}

.sidebar .settings:hover>app-setting {
    display: block;
}

@media (max-width: 830px) {
    .sidebar {
        width: 8vw;
    }

    .sidebar i {
        font-size: 30px;
    }

    .sidebar li {
        height: 8vh;
    }
}

@media (max-width: 430px) {
    .sidebar {
        width: 8vw;
    }

    .sidebar i {
        font-size: 15px;
    }

    .sidebar li {
        height: 8vh;
    }
}

@media (max-width: 490px) {
    header .title {
        font-size: 7px;
    }

    header .title img {
        height: 18px;
    }

    header i {
        font-size: 18px;
    }
}