h2{
    padding: 20px;
    background-color: #168021;
    color: white;
    font-size: 30px;
}
.content{
    padding: 0;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
p{
    font-size: 20px;
    color: black;
}
.action{
    gap: 15px;
}
button{
    width: 20%;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
}
.no{
    background-color: #FFEFD1;
}
.yes{
    background-color: #EAFAE5;
}
.no:hover{
    background-color: #F78914;
    color: white;
}
.yes:hover{
    background-color: #168021;
    color: white;
}

/*Radio*/
.radio{
    margin-top: 3.5%;
    width: 100%;
    display: inline-flex;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
}

.radio__input{
    display: none;
}

.radio__label{
    width: 100%;
    padding: 8px 14px;
    font-size: 18px;
    color:gray;
    background-color: #FFEFD1;
    cursor: pointer;
    transition: background 0.1s;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.radio__label:not(:last-of-type){
    border-right: 1px solid #F78914;
}

.radio__input:checked + .radio__label{
    background: #F78914;
    color: white;
}
.star-rating {
    display: inline-flex;
    flex-direction: row-reverse;
    font-size: 0;
  }
  
  .star-rating__input {
    display: none;
  }
  
  .star-rating__label {
    font-size: 30px;
    color: #ddd;
    cursor: pointer;
  }
  
  .star-rating__label:hover,
  .star-rating__label:hover ~ .star-rating__label,
  .star-rating__input:checked ~ .star-rating__label {
    color: #ffd700;
  }