<h2>Provide Rating</h2>
<mat-dialog-content class="content">
    <p>{{description}}</p>
    <div class="star-rating">
        <input class="star-rating__input" type="radio" value="1" name="rating" id="star-1" [(ngModel)]="selectedRating">
        <label class="star-rating__label" for="star-1" title="1 star">★</label>
        <input class="star-rating__input" type="radio" value="2" name="rating" id="star-2" [(ngModel)]="selectedRating">
        <label class="star-rating__label" for="star-2" title="2 stars">★</label>
        <input class="star-rating__input" type="radio" value="3" name="rating" id="star-3" [(ngModel)]="selectedRating">
        <label class="star-rating__label" for="star-3" title="3 stars">★</label>
        <input class="star-rating__input" type="radio" value="4" name="rating" id="star-4" [(ngModel)]="selectedRating">
        <label class="star-rating__label" for="star-4" title="4 stars">★</label>
        <input class="star-rating__input" type="radio" value="5" name="rating" id="star-5" [(ngModel)]="selectedRating">
        <label class="star-rating__label" for="star-5" title="5 stars">★</label>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end" class="action">
    <button mat-button (click)="closeDialog()" class="no">Cancel</button>
    <button mat-button (click)="closeDialog()" class="yes">Rate</button>
</mat-dialog-actions>