<div class="main">
    <div class="title">
        <h2>Appointments</h2>
    </div>
    <div class="appointment-list">
        <div class="pending">
            <label>PENDING</label>
            <hr>
            <div class="appointment-pending-list">
                <app-appointment-card>
                </app-appointment-card>
            </div>
        </div>
        <div class="confirmed">
            <label>CONFIRMED</label>
            <hr>
            <div class="appointment-confirmed-list">
                <app-appointment-card-confirmed></app-appointment-card-confirmed>
            </div>
        </div>
    </div>
</div>