<div class="Upper">
    <div class="top">      
        <p>User Management</p>
    </div>
    <div class="bot">
        <p>Teacher Management</p>
    </div>
</div>
<hr>
<div class="lower">
    <div class="title">
        <p>Teachers Accounts</p>
        <div class="act">
            <p>Actions</p>
        </div>
        <div class="head">
            <p>Head Teacher</p>
        </div>
    </div>
    <div class="teacher-row">
         <div class="teachercard">
            <div class="left"></div>
            <div class="info">
                <p>Full Name: Loudel Manaloto</p>
                <p>Emaill: manaloto.loudel&#64;gordoncollege.edu.ph</p>
            </div>
            <div class="teacher">
                <p>TEACHER</p>
            </div>
         </div>
         <div class="action">
            <button class="edit">Edit</button>
            <button class="add">Add</button>
            <button class="delete">Delete</button>
         </div>
    
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>
</div>