<div class="whole">
    <div class="Upper">
        <div class="top" (click)="switchMode('Students')">      
            <p>User Management</p>
        </div>
        <div class="bot" (click)="switchMode('Teachers')">
            <p>Teacher Management</p>
        </div>
    </div>
    <hr>
    <div class="lower">
        <div class="title">
            <p>{{selectedMode}} Accounts</p>
            <div class="act">
                <p>Actions</p>
            </div>
        </div>
        <div class="group" *ngIf="selectedMode == 'Teachers'">
            <div class="teacher-row" *ngFor="let teacher of teachers">
                <div class="teachercard">
                   <div class="left"></div>
                   <div class="info">
                       <p>Full Name: {{teacher.first_name}} {{teacher.last_name}}</p>
                       <p>Email: {{teacher.Email}}</p>
                   </div>
                   <div class="teacher">
                       <p>{{teacher.department}} {{teacher.position}}</p>
                   </div>
                </div>
                <div class="action">
                   <button class="edit" (click)="editTeacher(teacher.ConsultantID)">Edit</button>
                   <button class="delete" (click)="confirmDeleteTeacher(teacher.ConsultantID, teacher.first_name, teacher.last_name)">Delete</button>
                </div>
           </div>
           <button class="add-button" (click)="addTeacher()"><i class='bx bxs-user-plus' ></i></button>
        </div>
        <div class="group" *ngIf="selectedMode == 'Students'">
            <div class="teacher-row" *ngFor="let student of students">
                <div class="teachercard">
                   <div class="left-student"></div>
                   <div class="info">
                       <p>Full Name: {{student.FirstName}} {{student.LastName}}</p>
                       <p>Email: {{student.Email}}</p>
                   </div>
                   <div class="student">
                       <p>{{student.Course}} {{student.year}}{{student.block}}</p>
                   </div>
                </div>
                <div class="action">
                   <button class="edit" (click)="editTeacher(student.UserID)">Edit</button>
                   <button class="delete" (click)="confirmDeleteTeacher(student.UserID, student.FirstName, student.LastName)">Delete</button>
                </div>
           </div>
           <button class="add-button" (click)="addTeacher()"><i class='bx bxs-user-plus' ></i></button>
        </div>
    </div>
</div>
