.appointment-card{
    height: 115px;
    width: 500px;
    background-color: #EAFAE5;
    border-radius: 30px;
    box-shadow: 0 11px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    border: 3px solid #168021;
    display: flex;
    overflow: hidden;
    cursor: pointer;
}

.box{
    height: 115px;
    width: 60px;
    background-color: #168021;
}
.Text{
    padding-left: 15px;
    margin-top: 15px;
}
.title, .p{
    font-weight: bold;
    font-size: 17px;
}
.title, .mid, .bottom, p, .extra{
    margin: 0px;
    padding: 0px;
}
.mid, .bottom, .extra, .rating{
    font-size: 15px;
}

.mid, .bottom, .extra{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2vw;
}
.urgent-appointment {
    color: red; 
    font-weight: bold;
}

.feedback{
    font-size: 13px;
    font-weight: bold;
    color: gray;
}
