<div class="main">
    <div class="title">
        <h2>Finished Appointments</h2>
    </div>
    <div class="card-container">
        <div class="appointment-card">
            <div class="box"></div>
            <div class="Text">
                <div class="appointment-card-title">
                    <p></p>
                </div>
                <div class="mid">
                    <p>Date:</p>
                    <p>Time:</p>
                </div>
                <div class="bottom">
                    <p>Teacher: </p>
                    <p>Student: </p>
                </div>
            </div>
        </div>
        <div class="right">
            <h2>Appointment Details</h2>
            <div class="containerr">
              <div class="account-details">
                <div class="group">
                    <div class="left">
                        <h3>Account With:</h3>
                    </div>
                    <div class="input-box">
                </div>
                <div class="Appoint">
                    <h3>Appointment Purpose /Concern:</h3></div>
                    <div class="inputbox">
              </div>
              <div class="input-submit">
                <button class="submit-btn">Open</button>
            </div>
            </div>            
        </div>
    </div>
</div>



