<div class="main">
    <div class="title">
        <h2>Finished Appointments</h2>
    </div>
    <div class="card-container">
        <div class="left-container">
            <label>COMPLETED</label>
            <i class='bx bx-download' (click)="downloadPDF()"></i>
            <hr>
            <div class="appointment-list">
                <app-appointment-card-completed></app-appointment-card-completed>
            </div>
        </div>
        <div class="right">
            <label>APPOINTMENT DETAILS:</label>
            <div class="containerr">
              <div class="account-details">
                <div class="group">
                    <div class="left">
                        <h5>Appointment Title:</h5>
                    </div>
                    <div class="input-box">
                        <p>{{appointments[0]?.appointment_title}}</p>
                    </div>
                    <div class="left">
                        <h5>Rating:</h5>
                    </div>
                    <div class="input-box">
                        <p>{{appointments[0]?.rating || ''}}</p>
                    </div>
                <div class="Appoint">
                    <h5>Appointment Remarks:</h5> 
                </div>
                <div class="inputbox">
                    <p>{{appointments[0]?.remarks}}</p>
                </div>
              <div class="input-submit">
                <button class="submit-btn" (click)="changeRoute()">Open</button>
            </div>
            </div>            
        </div>
    </div>
</div>



