<div class="main">
    <div class="title">
      <h2>Appointment Request Details</h2>
    </div>
    <div class="content">
      <div class="top">
        <div class="textName">
          <p>Appointment</p>
          <h1>Meeting with {{queue[0]?.student_name}}</h1>
        </div>
      </div>
      <div class="group">
        <div class="date">
          <div class="box">
            <h4>Teacher</h4>
          </div>
          <div class="textDate">
            <p>{{queue[0].teacher_name}}</p>
          </div>
        </div>
  
        <div class="date">
          <div class="box">
            <h4>Student</h4>
          </div>
          <div class="textDate">
            <p>{{queue[0].student_name}}</p>
          </div>
        </div>
  
        <div class="date">
          <div class="box">
            <h4>Date</h4>
          </div>
          <div class="textDate">
            <p>{{this.queue[0]?.day}}</p>
          </div>
        </div>
  
        <div class="date">
          <div class="box">
            <h4>Time</h4>
          </div>
          <div class="textDate">
            <p>{{getFormattedTime(this.queue[0].time)}}</p>
          </div>
        </div>

        <div class="date">
          <div class="box">
            <h4>Mode</h4>
          </div>
          <div class="textDate">
            <p>{{this.queue[0]?.mode}}</p>
          </div>
        </div>

        <div class="date">
          <div class="box">
            <h4>Urgency</h4>
          </div>
          <div class="textDate">
            <p>{{this.queue[0]?.urgency}}</p>
          </div>
        </div>
      
      </div>
      <div class="body">
        <div class="purpose">
          <p>Appointment Purpose/Concerns:</p>
        </div>
        <div class="textarea-container">
          <textarea placeholder="No Appointment Purpose Stated" readonly>{{queue[0]?.reason}}</textarea>
        </div>
      </div>
      <div class="buttons">
        <div class="close">
          <p (click)="closeWindow()">CLOSE REQUEST</p>
        </div>
        <div (click)="openConfirmationReject()" *ngIf="usertype == 'teacher'" class="reject">
          <p>REJECT REQUEST</p>
        </div>
        <div *ngIf="usertype == 'teacher'" class="confirmation">
          <p>CREATE APPOINTMENT</p>
        </div>
      </div>
    </div>
  </div>
  