.main {
  height: 90vh;
  width: 94vw;
  overflow: auto;
  scroll-snap-type: y mandatory;
}

.title {
  background-color: #d9d9d9;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  font-weight: normal;
  scroll-snap-align: start;
}

.main .title h2 {
  padding-left: 30px;
  color: #000000;
  font-size: 30px;
  margin-right: 20px;
}

.main .title i {
  font-size: 25px;
  cursor: pointer;
}

.content {
  width: 100%;
  padding: 0px 50px;
  height: 80vh;
}
.top {
  height: 20%;
  width: 100%;
  border-bottom: 3px #d9d9d9 solid;
  display: flex;
  align-items: center;
}
.large-box {
  border: 3px #f78914 solid;
  background-color: #f78914;
  display: flex;
  height: 60%;
  align-self: center;
  border-radius: 20px;
  margin-right: 25px;
}
.large-box .number {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  font-size: 20px;
  padding: 10px;
}
.large-box .details {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #f78914;
  color: white;
  display: flex;
  align-items: center;
  font-size: 13px;
  padding: 20px;
  overflow-wrap: break-word;
}
.large-box-green {
  border: 3px #168021 solid;
  background-color: #168021;
  display: flex;
  height: 60%;
  align-self: center;
  border-radius: 20px;
  margin-right: 25px;
}
.large-box-green .number {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  font-size: 20px;
  padding: 10px;
}
.large-box-green .details {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #168021;
  color: white;
  display: flex;
  align-items: center;
  font-size: 13px;
  padding: 20px;
  overflow-wrap: break-word;
}
.main-content {
  height: 80%;
  width: 100%;
  display: flex;
}
.main-content .left {
  width: 50%;
  height: 100%;
  padding: 20px;
}
.main-content .right {
  width: 50%;
  height: 100%;
  padding: 20px;
  display: grids;
}
.appointment-box {
  height: 100%;
  width: 100%;
  background-color: #e9e9e9;
  border-radius: 30px;
  padding: 20px;
  overflow-y: scroll;
}

/*Logs*/
.logs {
  display: flex;
  padding: 10px;
  margin-top: 10px;
  gap: 10px;
  border-bottom: 3px solid gainsboro;
  overflow-y: auto;
}

.app-box-top {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: 20%;
  width: 100%;
  background-color: #168021;
  display: flex;
  border: 2.5px solid #168021;
}
.app-box-top-left {
  width: 70%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
}
.app-box-top-right {
  width: 30%;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-top-right-radius: 30px;
}
.app-box-top-right h2 {
  font-size: 40px;
}
.app-box-content {
  height: 80%;
  /* border: 2.5px solid black; */
  padding: 25px;
}
.app-box-content ul {
  list-style-type: none;
}
.app-box-content li {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  border-bottom: 3px solid gainsboro;
}
.app-box-content li p,
a {
  text-align: center;
}
.app-box-content li a {
  color: #f08a3f;
}
/*Right Box*/
.second-box-top {
  color: #168021;
}
.appointment-list {
  width: 100%;
  padding: 20px 30px;
  height: 100%;
}
/*Appointment Card*/
.appointment-card {
  height: 115px;
  width: 500px;
  background-color: #eafae5;
  border-radius: 30px;
  box-shadow: 0 11px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  border: 3px solid #168021;
  display: flex;
  overflow: hidden;
  cursor: pointer;
}

.box {
  height: 115px;
  width: 60px;
  background-color: #168021;
}
.Text {
  padding-left: 15px;
  margin-top: 15px;
}
.appointment-card-title,
.p {
  font-weight: bold;
  font-size: 17px;
}
.appointment-card-title,
.mid,
.bottom,
p,
.extra {
  margin: 0px;
  padding: 0px;
}
.mid,
.bottom,
.extra {
  font-size: 15px;
}

.mid,
.bottom,
.extra {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2vw;
}
.urgent-appointment {
  color: red;
  font-weight: bold;
}
.card-container {
  overflow-y: auto;
  height: 100%;
}
.pending {
  border: 3px solid #f78914 !important;
  background-color: #ffefd1;
}
.pending .box {
  background-color: #f78914;
}

/*Charts*/
.one-column {
  display: grid;
  grid-template-columns: 1fr;
  height: 80vh;
  width: 75%;
  align-items: center;
  margin: auto;
}
.two-column {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  column-gap: 40px;
  height: 80vh;
  align-items: center;
}
.column {
  border-radius: 20px;
  background-color: #eafae5;
  border: 3px solid #168021;
}
.column h2 {
  background-color: #168021;
  color: white;
  padding: 20px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
}
.column-orange {
  border-radius: 20px;
  background-color: #ffefd1;
}
.column-orange h2 {
  background-color: #f08a3f;
  color: white;
  padding: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
canvas {
  padding: 20px;
}

.info {
  border-radius: 20px;
  border: 3px solid #f78914;
  height: 85%;
  background-color: #ffefd1;
  padding: 10px;
  width: 100%;
}

.info h2 {
  color: #168021;
}

.pie {
  padding: 20px;
}
/*Rating*/
.total-rating {
  padding: 20px;
}
.ratings {
  padding: 10px;
}
.indiv-rating {
  margin-bottom: 10px;
}
.indiv-rating i {
  font-size: 20px;
  color: #168021;
}
.empty-bar {
  background-color: #ebc37a;
  width: 100%;
  height: 3vh;
  border-radius: 20px;
  display: flex;
  color: white;
  font-size: 13px;
  position: relative;
}
.bar {
  position: absolute;
  background-color: #f78914;
  width: 80%;
  height: 3vh;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.empty-bar p {
  align-self: center;
  position: absolute;
  display: none;
  left: 10%;
}
.empty-bar:hover p {
  display: block;
}

/*Radio*/
.radio {
  width: 100%;
  display: inline-flex;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.radio__input {
  display: none;
}

.radio__label {
  width: 100%;
  padding: 8px 14px;
  font-size: 18px;
  color: gray;
  background-color: #ffefd1;
  cursor: pointer;
  transition: background 0.1s;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.radio__label:not(:last-of-type) {
  border-right: 1px solid #f78914;
}

.radio__input:checked + .radio__label {
  background: #f78914;
  color: white;
}

.radio .time {
  width: 100%;
  background-color: #ffefd1;
  font-size: 17px;
  padding: 10px 20px;
}

/*Table*/
th {
  font-weight: bold;
}
