<div class="main">
  <div class="title">
    <h2>Analytics Overview</h2>
  </div>
  <div class="content">
    <div class="top">
      <div class="large-box">
        <div class="number">
          <h1>{{ studentCount }}</h1>
        </div>
        <div class="details">
          <h2>STUDENTS</h2>
        </div>
      </div>
      <div class="large-box">
        <div class="number">
          <h1>{{ teacherCount }}</h1>
        </div>
        <div class="details">
          <h2>TEACHER</h2>
        </div>
      </div>
      <div class="large-box-green">
        <div class="number">
          <h1>{{ queueCount }}</h1>
        </div>
        <div class="details">
          <h2>QUEUE</h2>
        </div>
      </div>
      <div class="large-box-green">
        <div class="number">
          <h1>{{ appointmentCount }}</h1>
        </div>
        <div class="details">
          <h2>APPOINTMENTS</h2>
        </div>
      </div>
    </div>
    <div class="main-content">
      <div class="left">
        <div class="appointment-box">
          <h2>Login Logs</h2>
          <div class="logs" *ngFor="let log of loginLogs">
            <p>{{ log.login_time }}</p>
            <h4 *ngIf="log.user_id != null">
              Student {{ log.user_id }} logged in.
            </h4>
            <h4 *ngIf="log.consultant_id != null">
              Consultant {{ log.consultant_id }} logged in.
            </h4>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="column">
          <h2>Daily User Login</h2>
          <canvas id="dailyLoginLogsChart" baseChart="loginLogsChart"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="title">
    <h2>Action Logs</h2>
  </div>
  <div class="content">
    <div class="content">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Define your columns here -->
        <ng-container matColumnDef="consultant_id">
          <th mat-header-cell *matHeaderCellDef>Consultant ID</th>
          <td mat-cell *matCellDef="let element">
            {{ element.consultant_id }}
          </td>
        </ng-container>
        <ng-container matColumnDef="userId">
          <th mat-header-cell *matHeaderCellDef>User ID</th>
          <td mat-cell *matCellDef="let element">{{ element.user_id }}</td>
        </ng-container>
        <ng-container matColumnDef="actionType">
          <th mat-header-cell *matHeaderCellDef>Details</th>
          <td mat-cell *matCellDef="let element">{{ element.details }}</td>
        </ng-container>
        <ng-container matColumnDef="actionTime">
          <th mat-header-cell *matHeaderCellDef>Time</th>
          <td mat-cell *matCellDef="let element">{{ element.action_time }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">test</td>
        </ng-container>
        <tr
          mat-header-row
          *matHeaderRowDef="[
            'consultant_id',
            'userId',
            'actionType',
            'actionTime',
            'actions'
          ]"
        ></tr>
        <tr
          mat-row
          *matRowDef="
            let row;
            columns: [
              'consultant_id',
              'userId',
              'actionType',
              'actionTime',
              'actions'
            ]
          "
        ></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[10, 20, 30]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
  <div class="title">
    <h2>Appointment Analytics</h2>
  </div>
  <div class="content">
    <div class="two-column">
      <div class="column">
        <h2>Appointments</h2>
        <canvas id="appointmentChart" baseChart="myChart"></canvas>
      </div>
      <div>
        <div class="column">
          <h2>Appointment Activity</h2>
          <canvas id="dailyAppointmentChart" baseChart="lineChart"></canvas>
        </div>
        <div class="column">
          <h2>User Activity</h2>
          <canvas
            id="dailyActionLogsChart"
            baseChart="actionLogsChart"
          ></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
