<div class="card-container">
    <div *ngFor="let teachers of teachers" class="card" (click)="changeRoute(teachers.ConsultantID)"> 
        <div class="top">
            <img src="assets/profile.jpeg" alt="Teacher Image">
            <h4>{{teachers.first_name}} {{teachers.last_name}}</h4>
        </div>
        <div class="bottom">
            <ul>
                <li>8am</li>
                <li>9am</li>
                <li>10am</li>
                <li>1pm</li>
                <li>2pm</li>
                <li>3pm</li>
            </ul>
        </div>
    </div>
</div>


