<div class="card-container">
  <div *ngFor="let teacher of approvedTeachers" class="card" (click)="changeRoute(teacher.ConsultantID)">
    <div class="top">
      <img src="assets/profile.jpeg" alt="Teacher Image">
      <h4>{{ teacher.first_name }} {{ teacher.last_name }}</h4>
    </div>
    <div class="bottom">
      <div class="info-block queue-block">
        <table>
          <tr>
            <th>QUEUE</th>
          </tr>
          <tr>
            <td>{{ queueLength$[teacher.ConsultantID] | async }}</td>
          </tr>
        </table>
      </div>
      <div class="info-block appointments-block">
        <table>
          <tr>
            <th>APPOINTMENTS</th>
          </tr>
          <tr>
            <td>{{ appointmentLength$[teacher.ConsultantID] | async }}</td>
          </tr>
        </table>
      </div>
      <div class="info-block status-block">
        <table>
          <tr>
            <th>STATUS</th>
          </tr>
          <tr>
            <td *ngIf="queueStatus$[teacher.ConsultantID] | async; else notInQueue">In Queue</td>
            <ng-template #notInQueue><td>Not in Queue</td></ng-template>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
