<div class="card-container">
    <div class="appointment-card" *ngFor="let queue of queue; let i = index" (click)="changeRoute(queue)">
        <div class="box">
            <p *ngIf="userType === 'teacher'">{{i + 1}}</p>
        </div>
        <div class="Text">
            <div class="title">
                <p>{{queue.appointment_title}}</p>
            </div>
            <div class="mid">
                <p *ngIf="userType == 'teacher'">Student: {{queue.student_name}}</p>
                <p *ngIf="userType == 'user'"> Teacher: {{queue.teacher_name}}</p>
                <p>Requested on: {{getFormattedDate(queue.time_created)}}</p>
            </div>
            <!-- <div class="bottom">
                <p>Preferred Date: {{queue.day}}</p>
                <p>Preferred Time: {{getFormattedTime(queue.time)}}</p>
            </div> -->
            <div class="extra">
                <p>Preferred Mode: {{queue.mode}}</p>
                <!-- <p >Urgency: <label [ngClass]="{'urgent-appointment': queue.urgency == 'Urgent'}">{{queue.urgency}}</label></p> -->
            </div>
        </div>
    </div>
</div>
